*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*,
*:before,
*:after
{
	box-sizing: inherit;
}
html
{
	box-sizing: border-box;
	font-size: 62.5%;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	background-image: linear-gradient(to right bottom, var(--Primary-light), var(--Primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--Grey-dark-2);
}
